# CI de Nível 01 - Disparo manual a partir de 1 clique

# nome do nosso 'pipeline'

name: 'Execução Manual'
# Disparar o pipeline manualmente

# regras de disparo (gatilhos/triggers)
# gatilho de execução manual = workflow_dispatch
#

on:
  workflow_dispatch:

    # jobs = tarefas que serão executadas
jobs:
  # nome do job
  e2e-tests:
    # maquina que o job vai executar
    runs-on: ubuntu-latest

    # passos do script de build
    steps:
      # clone do projeto
      - uses: actions/checkout@v4

      # instalação do node
      - uses: actions/checkout@v4
        with:
          node-version: 22.x

      # instalação do yarn
      - name: Instalando Yarn
        run: npm install -g yarn

      # instalação das dependências do projeto
      - name: Instalando dependências do projeto
        run: yarn

      # setup playwright
      - name: Instalando Playwright
        run: yarn playwright install

      # execução dos testes
      - name: Executando Testes E2E
        run: yarn run e2e
